{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Open Items</h2>
      <ul class="list-group mb-4">
        {% for item in list_open_items %}
            <li> Item ID: {{ item.id }} - Title: {{item.title}} - Status: {{item.status}}  </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <h2>Closed Items</h2>
      <ul class="list-group mb-4">
        {% for item in list_closed_items %}
            <li> Item ID: {{ item.id }} - Title: {{item.title}} - Status: {{item.status}}   </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <form action="/additem" method="POST">
      <label for="title"><b><p style="font-size:30px">Add Item:</p></b></label><br>
      <input type="text" id="id" name="title" value=""><br>
      <input type="submit" value="Submit"><br>
  </form><br>

<form action="/closeitem" method="POST">
  <label for="title"><b><p style="font-size:30px">Close Item:</p></b></label><br>
  <label for="title">Please enter the Item you would like to close.<br> Enter only the Item ID:</label><br>
  <input type="text" id="id" name="card_id" value=""><br>
  <input type="submit" value="Submit"><br>
</form>
  
{% endblock %}